<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.2.6900.0" authCookieName=".SFAUTH-Default" rolesCookieName=".SFROLES-Default" validationKey="B57FF45E66EB6CF90BB682DC1202A6E2BF2FCE3CA5DD480CEA926A9F390C12602A8CE1A92DF172EDEDEAB256F9C31692AAAC6D6318366BCF81BF4AD4F4CAE3D4" decryptionKey="842FF98A722D5E49086F44E880F4FC7D2164A47C571C5012CB8C2335B0EF3749" loggingCookieName=".SFLOG-Default">
	<securityTokenIssuers>
		<add key="70D7927CFF0CFB549B3EDD413889784293C14AF94F88D6CC056DD10ECFFE30AC" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="70D7927CFF0CFB549B3EDD413889784293C14AF94F88D6CC056DD10ECFFE30AC" realm="http://localhost" />
	</relyingParties>
</securityConfig>